
/* color themes 
  #60c8db
  #6cc67d
  #47b75c
  #39934a
  #98cea2
  #ceae84
*/


.light{
  background-color: #cccccc;
  /* box-shadow:5px 5px 5px #cccaca, -5px 5px 5px #cccaca; */
}

.light:hover{ 
  background-color: #f3f3f3;
  box-shadow:5px 5px 5px #cccaca, -5px 5px 5px #cccaca;
}
.mint{
  background-color: #aef3bb;
}
.mint-green{
  background-color: #aef3bb;
  box-shadow: -5px 5px 5px #5eaf6d,5px 5px 5px #5eaf6d;
}
.mint-green-btn{
  background-color: #aef3bb;
  /* box-shadow: -5px 5px 5px #5eaf6d,5px 5px 5px #5eaf6d; */
}
.mint-green-btn:hover{
  background-color: #6cc67d;
  box-shadow: -5px 5px 5px #5eaf6d,5px 5px 5px #5eaf6d;
}
.SF-green{
  background-color: #47b75c;
  color: white;
}
.SF-green-btn{
  background-color: #47b75c;
  color: white;
}
.SF-green-btn:hover{
  background-color: #39934a;
  box-shadow: -5px 5px 5px #60e779,5px 5px 5px #60e779;
  color: white;
}

* {
  box-sizing: border-box;
}


/* img{
  width: 100%;
} */

@media only screen and (max-width: 768px){
  
 
}


/* ----------------------------------------------- app themes */
a:hover{
  text-decoration: none;
  color: white
}
.link{
  color: black;
}


.card-form {
  opacity: 0.9;
}

.card{
  box-shadow:5px 5px 5px #cccaca, -5px 5px 5px #cccaca;
}


.latest-profiles-img {
  width: 40px;
  height: 40px;
}
/* .form-control{
  max-height:80vh;
} */
.form-control::placeholder {
  color: #bbb !important;
}

.app-container{
  background-color: #e9e5e5;
}

.container {
  /* font-size: 2rem; */
  max-width: 1000px;
  border-radius: 10px;
  padding-top: 20px;
  justify-content: center;
  box-shadow:5px 5px 10px  #e9e5e5, -5px -5px 10px  #e9e5e5
}

.sort-group{
  font-size:1em;
}
.sort-select{
  border: 1px solid;
}

/* ------------------------------------------------deck */

.deck-info{
  /* height:85%; */
  padding: 10% 0;
}
.text-area{
  height: 100px;
}

.card-info{
  min-width: 280px;
}

.card-img{
  max-width: 30%;
}

/* ---------------------------------------- Layout, navbar, footer */
.landing, .login, .register {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),
                     url('./img/showcase1k.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: -50px;
  color:white;
}


.landing-inner {
  padding-top: 80px;
}

li .nav-link {
  text-align: right;
}

.layout-container{
  max-width: 500px;
  max-height: 90vh;
  padding-top: 15vh;
  justify-content: center;
  margin:auto;

}

.layout-form{
  max-width: 80%;
  margin:auto;
}

.footer {
  position: relative;
}

/* ------------------------------------------dashboard & explore */
.deck-feed{
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.deck-card{
  width:450px;
}

.dash-header{
  justify-content: center;
  margin-right:0;
  margin-left:0;
}

/* ---------------------------------------------- freshen up animation   */
.freshers-container {
  height: 100%;
  width:100%;
  display: inline-flex;
  margin: auto;
  justify-content: center;
}

.freshers {
  height: 60vh;
  width: 70%;
  border: 3px solid #300;
  transform-style: preserve-3d;
  transition: all 0.6s ease-in-out;
  position: relative;
  margin:0;
  display: inline-flex;
  box-shadow:5px 5px 5px #cccaca, -5px 5px 5px #cccaca;
}

.freshers:hover {
  cursor: pointer;
}


.freshers-btn {
  font-size: 300%;
  height: auto;
  width: 10%;
  position: relative;
  padding: 0;
  text-align: center;
  border-radius: 10px;
}

.face{
  transform: rotateY(180deg);
}

.definition, .term{
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  align-items: center;
  display:flex;
  font-size: 5vmin;
  background:white;
}

.term{
  transform:rotateY(0deg);
}

.definition{
  transform: rotateY(180deg);
}

.oversized{
  font-size: 1rem;
}

/* ------------------------------------------------Future's page */
.feedback{
  width: 80%;
  margin: auto;
}

ul{
  list-style-type: none;
}

.feedback-name{
  font-size: 1.5vw;
  text-align: center;
}


